<%- include('../includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="./product.css"> -->
    <style>
    .product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.product-item {
    width: 20rem;
    max-width: 95%;
    margin-bottom: 70px;
}
.product__title {
    font-size: 1.2rem;
    text-align: center;
}
.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}
.product__description {
    text-align: center;
}
.card{
  box-shadow: 10px 10px 5px #798777;
      -moz-box-shadow: 10px 10px 5px #798777;
      -webkit-box-shadow: 10px 10px 5px #798777;
      -khtml-box-shadow: 10px 10px 5px #798777;


}
    </style>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>


            <% if (prods.length > 0) { %>
                <div class="grid" style="padding-left:3%;padding-right:2%">
                    <% for (let product of prods) { %>
                        <article class="card   product-item"style="background-color:initial;margin-left:10px;border:3px solid #798777">
                            <header class="card__header">
                                <h1 class="product__title" style="color:#cdc733;font-size:xx-large"><b><%= product.title %></b></h1>

                            </header>
                            <div class="card__image">
                                <img src="<%= product.imageUrl %>" height="300" width="50"
                                    alt="<%= product.title %>">
                            </div>
                            <div class="card__content">
                                <h2 class="product__price" style="color:#cdc733"><i class="fas fa-rupee-sign"></i><%= product.price %></h2>

                            </div>
                            <div class="card__actions" style="padding-bottom:6px">
                                        <a href="/products/<%= product._id %>" class="btn btn-light"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp Details</a>
                                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                            </div>
                            <form action="/like" style="text-align:center;margin-bottom:20px" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn btn-danger" style="height:42px" type="submit"><p style="text-align: center;"><i class="fas fa-heart"></i>  <%=product.likes%></p></button>

                                <input type="hidden" name="productId" value="<%= product._id %>">
                            </form>
                        </article>
                    <% } %>
                </div>
            <% } else { %>
                <h1>No Productssssssss Found!</h1>
            <% } %>
    </main>
<%- include('../includes/end.ejs') %>
